.defaultMenuSection {
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  max-width: 620px;

  margin-top: 25px;

  animation: fadeIn 0.5s ease-out;
}

.defaultPageTitle {
  color: var(--beige-color);
  font-size: 32px;
  font-weight: 700;

  line-height: calc(20 / 32);

  margin: 10px 0px 25px 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
