.cartContainer {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  width: 100%;
}

.emptyCart {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;

  color: var(--beige-color);
}

.cartItem {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--beige-color);

  position: relative;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

.details {
  flex-grow: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.controls button {
  width: 30px;
  height: 30px;

  font-size: 18px;
  font-weight: 600;

  border: none;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  color: var(--beige-color);
  fill: var(--beige-color);
  cursor: pointer;
}

.controls span {
  font-size: 16px;
  width: 30px;
  text-align: center;
}

.deleteBtn {
  background-color: transparent !important;
  color: white;
  margin-left: auto;

  position: absolute;
  top: 5px;
  right: 5px;
}

.total {
  text-align: right;
  font-size: 16px;

  padding-right: 20px;

  width: 100%;

  border-top: 1px solid var(--beige-color);

  color: var(--beige-color);
  background-color: var(--background-color);

  position: fixed;
  bottom: -1px;
  right: 0px;
}

.icon {
  width: 15px;
  height: 15px;

  fill: var(--background-color);
}
