.customButton {
  background-color: var(--beige-color);
  color: var(--black-color);
  border: none;

  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  transition: all var(--animation);

  .icon {
    fill: var(--black-color);
    transition: fill var(--animation);

    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--black-color);
    color: var(--beige-color);

    .icon {
      fill: var(--beige-color);
    }
  }
}

.wide {
  width: clamp(280px, 85vw, 335px);
  height: 60px;

  font-size: calc(20px + 3 * (100vw / 1280));
  border-radius: 30px;

  padding: 10px 25px;
}

.medium {
  width: clamp(120px, 40vw, 160px);
  height: 35px;

  font-size: 20px;
  border-radius: 20px;

  padding: 0;

  justify-content: center;
}
